{% extends 'base.html'%}
{%block content%}

    <h1>Esta é a página de games!</h1>
    <hr>
    <p><strong>Game mais jogado no momento:</strong></p>
    {# Comentário no Jinja2 #}

    {% for k, v in game.items() %}
    <details>
        <summary>{{k}}</summary>
        <p>{{v}}</p>
    </details>
    {% endfor %}

    <p>O jogo {{game['Título']}} tem {{2024-game['Ano']}} anos.</p>
    <p>Está sendo jogado por:</p>
    <!-- <p>{{jogadores}}</p> -->
    <ol>
        {% for jogador in jogadores %}
            <li>{{jogador}}</li>
        {% endfor %}
    </ol>

    <p>Jogos Disponíveis</p>
    <ol>
        {% for jogo in jogos  %}
            <li>{{jogo}}</li>
        {% endfor %}    
    </ol>
    <hr>
    <!-- No action inserir a função da Rota e o método (Post,Get etc) -->
<form action="{{url_for('games')}}" method="POST">
    <h4>Entrar no Jogo</h4>
    <label for="">Jogador</label>
    <input type="text" name="jogador">
    <input type="submit" value="Entrar">

</form>
    

<hr>
<form action="{{url_for('games')}}" method="POST">
    <h4>Cadastrar jogo</h4>
    <label for="">Novo Jogo</label>
    <input type="text" name="jogo">
    <input type="submit" value="Cadastrar">

</form>

{%endblock content%}